Integration Webhooks - FIXED.blueprint.json
{
    "name": "Integration Webhooks, HTTP - FULLY FUNCTIONAL",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2640726,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "FetchContract"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "contract_id",
                        "type": "text"
                    },
                    {
                        "name": "first_party_name_en",
                        "type": "text"
                    },
                    {
                        "name": "first_party_name_ar",
                        "type": "text"
                    },
                    {
                        "name": "first_party_crn",
                        "type": "text"
                    },
                    {
                        "name": "second_party_name_en",
                        "type": "text"
                    },
                    {
                        "name": "second_party_name_ar",
                        "type": "text"
                    },
                    {
                        "name": "second_party_crn",
                        "type": "text"
                    },
                    {
                        "name": "promoter_name_en",
                        "type": "text"
                    },
                    {
                        "name": "promoter_name_ar",
                        "type": "text"
                    },
                    {
                        "name": "job_title",
                        "type": "text"
                    },
                    {
                        "name": "work_location",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "start_date",
                        "type": "text"
                    },
                    {
                        "name": "end_date",
                        "type": "text"
                    },
                    {
                        "name": "contract_number",
                        "type": "text"
                    },
                    {
                        "name": "id_card_number",
                        "type": "text"
                    },
                    {
                        "name": "promoter_id_card_url",
                        "type": "text"
                    },
                    {
                        "name": "promoter_passport_url",
                        "type": "text"
                    },
                    {
                        "name": "pdf_url",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendDataBasicAuth",
            "version": 3,
            "parameters": {
                "key": 92343,
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "contract_number",
                        "value": "eq.{{1.contract_number}}"
                    },
                    {
                        "name": "select",
                        "value": "*"
                    },
                    {
                        "name": "is_current",
                        "value": "eq.true"
                    }
                ],
                "url": "https://ekdjxzhujettocosgzql.supabase.co/rest/v1/contracts",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrZGp4emh1amV0dG9jb3NnenFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkzMTkxMDYsImV4cCI6MjA2NDg5NTEwNn0.6VGbocKFVLNX_MCIOwFtdEssMk6wd_UQ5yNT1CfV6BA"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrZGp4emh1amV0dG9jb3NnenFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTMxOTEwNiwiZXhwIjoyMDY0ODk1MTA2fQ.dAf5W8m9Q8FGlLY19Lo2x8JYSfq3RuFMAsHaPcH3F7A"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "bodyType": "",
                "serializeUrl": true,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "key": {
                            "label": "My HTTP Basic Auth key"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "key",
                        "type": "keychain:basicauth",
                        "label": "Credentials",
                        "required": true
                    },
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Contract Data Exists",
                "conditions": [
                    [
                        {
                            "a": "length({{2.data}})",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{2.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 30,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "ID Card URL Valid",
                "conditions": [
                    [
                        {
                            "a": "{{1.promoter_id_card_url}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.promoter_id_card_url}}",
                            "b": "null",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{length(trim(1.promoter_id_card_url))}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{1.promoter_id_card_url}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "30",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": -150
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8815148
            },
            "filter": {
                "name": "ID Card Download Success",
                "conditions": [
                    [
                        {
                            "a": "{{30.statusCode}}",
                            "o": "text:equal",
                            "b": "200"
                        }
                    ]
                ]
            },
            "mapper": {
                "data": "{{30.data}}",
                "select": "map",
                "convert": false,
                "filename": "id_card_{{1.contract_number}}_{{formatDate(now; \"YYYY-MM-DD\")}}.jpg",
                "folderId": "1WoJfPb62ILAKaMT1jEjXH3zwjfkXmg3a"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": -150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (chairman@falconeyegroup.net)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "text",
                        "label": "Folder ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "Passport URL Valid",
                "conditions": [
                    [
                        {
                            "a": "{{1.promoter_passport_url}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.promoter_passport_url}}",
                            "o": "text:notequal",
                            "b": "null"
                        },
                        {
                            "a": "{{length(trim(1.promoter_passport_url))}}",
                            "o": "number:greater",
                            "b": "0"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "{{1.promoter_passport_url}}",
                "serializeUrl": false,
                "method": "get",
                "headers": [],
                "qs": [],
                "bodyType": "",
                "parseResponse": false,
                "authUser": "",
                "authPass": "",
                "timeout": "30",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8815148
            },
            "filter": {
                "name": "Passport Download Success",
                "conditions": [
                    [
                        {
                            "a": "{{31.statusCode}}",
                            "o": "text:equal",
                            "b": "200"
                        }
                    ]
                ]
            },
            "mapper": {
                "data": "{{31.data}}",
                "select": "map",
                "convert": false,
                "filename": "passport_{{1.contract_number}}_{{formatDate(now; \"YYYY-MM-DD\")}}.jpg",
                "folderId": "1WoJfPb62ILAKaMT1jEjXH3zwjfkXmg3a"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (chairman@falconeyegroup.net)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "text",
                        "label": "Folder ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8511693
            },
            "mapper": {
                "select": "map",
                "name": "{{lower(1.contract_number).replace(/[^a-z0-9_-]/g, \"\").replace(/ /g, \"_\")}}-{{lower(1.promoter_name_en).replace(/[^a-z0-9_-]/g, \"\").replace(/ /g, \"_\")}}.pdf",
                "destination": "drive",
                "document": "1dG719K4jYFrEh8O9VChyMYWblflxW2tdFp2n4gpVhs0",
                "requests": [
                    {
                        "text": "ref_number",
                        "replaceText": "{{1.contract_number}}"
                    },
                    {
                        "text": "first_party_name_en",
                        "replaceText": "{{1.first_party_name_en}}"
                    },
                    {
                        "text": "first_party_name_ar",
                        "replaceText": "{{1.first_party_name_ar}}"
                    },
                    {
                        "text": "first_party_crn",
                        "replaceText": "{{1.first_party_crn}}"
                    },
                    {
                        "text": "second_party_name_en",
                        "replaceText": "{{1.second_party_name_en}}"
                    },
                    {
                        "text": "second_party_name_ar",
                        "replaceText": "{{1.second_party_name_ar}}"
                    },
                    {
                        "text": "second_party_crn",
                        "replaceText": "{{1.second_party_crn}}"
                    },
                    {
                        "text": "promoter_name_en",
                        "replaceText": "{{1.promoter_name_en}}"
                    },
                    {
                        "text": "promoter_name_ar",
                        "replaceText": "{{1.promoter_name_ar}}"
                    },
                    {
                        "text": "id_card_number",
                        "replaceText": "{{1.id_card_number}}"
                    },
                    {
                        "text": "contract_start_date",
                        "replaceText": "{{formatDate(1.start_date; \"DD-MM-YYYY\")}}"
                    },
                    {
                        "text": "contract_end_date",
                        "replaceText": "{{formatDate(1.end_date; \"DD-MM-YYYY\")}}"
                    }
                ],
                "imageReplacement": [
                    {
                        "imageObjectId": "ID_CARD_IMAGE",
                        "url": "{{if(exists(4.id); \"https://drive.google.com/uc?id=\" + 4.id; \"\")}}"
                    },
                    {
                        "imageObjectId": "PASSPORT_IMAGE",
                        "url": "{{if(exists(5.id); \"https://drive.google.com/uc?id=\" + 5.id; \"\")}}"
                    }
                ],
                "folderId": "1tBNSMae1HsHxdq8WjMaoeuhn6WAPTpvP"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (luxsess2001@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By Mapping"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "requests": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "imageReplacement": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "folderId": {
                            "mode": "edit",
                            "path": []
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create a Document from a Template",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "text",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "type": "array",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Tags",
                                "required": true
                            },
                            {
                                "name": "replaceText",
                                "type": "text",
                                "label": "Replaced Value"
                            }
                        ]
                    },
                    {
                        "name": "imageReplacement",
                        "type": "array",
                        "label": "Images Replacement",
                        "spec": [
                            {
                                "name": "imageObjectId",
                                "type": "text",
                                "label": "Image Object ID",
                                "required": true
                            },
                            {
                                "name": "url",
                                "type": "text",
                                "label": "Image URL",
                                "required": true
                            },
                            {
                                "name": "tabId",
                                "type": "text",
                                "label": "Tab ID"
                            }
                        ]
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "google-docs:exportADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8511693
            },
            "mapper": {
                "document": "{{6.id}}",
                "mimeType": "application/pdf",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                }
            }
        },
        {
            "id": 20,
            "module": "supabase:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8908761
            },
            "mapper": {
                "upsert": true,
                "bucketID": "contracts",
                "file_data": "{{19.data}}",
                "file_name": "{{14.value.contract_number}}-{{14.value.promoter_name_en}}.pdf"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                }
            }
        },
        {
            "id": 21,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://ekdjxzhujettocosgzql.supabase.co/rest/v1/contracts?contract_number=eq.{{14.value.contract_number}}&is_current=eq.true",
                "data": "{\n  \"pdf_url\": \"https://ekdjxzhujettocosgzql.supabase.co/storage/v1/object/public/contracts/{{20.file_name}}\",\n  \"status\": \"generated\"\n}",
                "gzip": true,
                "method": "patch",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrZGp4emh1amV0dG9jb3NnenFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkzMTkxMDYsImV4cCI6MjA2NDg5NTEwNn0.6VGbocKFVLNX_MCIOwFtdEssMk6wd_UQ5yNT1CfV6BA"
                    },
                    {
                        "name": "Authorization",
                        "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrZGp4emh1amV0dG9jb3NnenFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTMxOTEwNiwiZXhwIjoyMDY0ODk1MTA2fQ.dAf5W8m9Q8FGlLY19Lo2x8JYSfq3RuFMAsHaPcH3F7A"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "Prefer",
                        "value": "return=representation"
                    }
                ],
                "useMtls": false,
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                }
            }
        },
        {
            "id": 22,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\n    \"success\": true,\n    \"pdf_url\": \"https://ekdjxzhujettocosgzql.supabase.co/storage/v1/object/public/contracts/{{20.file_name}}\",\n    \"contract_id\": \"{{14.value.contract_number}}\",\n    \"images_processed\": {\n        \"id_card\": {{if(exists(4.id); \"true\"; \"false\")}},\n        \"passport\": {{if(exists(5.id); \"true\"; \"false\")}}\n    }\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}
